.NewQuestionRoute {
  padding: 20px;
}

.NewQuestionRoute-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.NewQuestionRoute-header h2 {
  margin: 0;
}

.close-button {
  text-decoration: none;
  border-radius: 50%;
  border: 1px solid #222;
  color: #222;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
}

.NewQuestionRoute hr {
  margin-bottom: 20px;
}

.NewQuestionRoute input[type="text"], textarea {
  display: block;
  width: 100%;
  border: 1px solid #c9c9c9;
  padding: 15px 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 1em;
}

.NewQuestionRoute textarea {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
}

.NewQuestionRoute-buttons {
  display: flex;
  justify-content: right;
  border: 1px solid #c9c9c9;
  border-top: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px 20px;
}

.NewQuestionRoute-buttons input[type="submit"] {
  font-weight: bold;
  font-size: 1em;
}