.question-title {
  font-weight: bold;
}

.question-row {
  padding-bottom: 20px;
}

.question-user-label {
  font-weight: bold;
}

.question-user {
  display: flex;
  align-items: center;
}

.question-user-avatar {
  margin-right: 10px;
}

.question-user-name {
  font-weight: bold;
}

.question-user-info {
  display: flex;
  flex-direction: column;
}