.App {
  text-align: center;
  background: #efefef;
  height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.App-nav {
  height: 50px;
  padding: 10px 20px;
  margin-bottom: 20px;
  background: #ccc;
  display: flex;
  justify-content: right;
  align-items: center;
}

.button {
  text-decoration: none;
  background: #3333ff;
  color: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  border-radius: 20px;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 80px 20px;
  background: #787878;
  margin-bottom: 20px;
}

.App-header h1 {
  font-size: 2.5rem;
}

.App-logo {
  margin-right: 10px;
}

.App-body {
  display: flex;
}

.App-page {
  width: 70%;
  text-align: left;
}

.card {
  background: #fff;
  padding: 10px 30px;
  box-sizing: border-box;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.card p {
  display: flex;
}

.card-icon {
  margin-right: 10px;
}

.App-sidebar {
  text-align: left;
  width: 30%;
}

.user {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user-avatar {
  margin-right: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-weight: bold;
  margin-bottom: 0.25em;
}

.user-stats {
  display: flex;
}

.user-stats img {
  margin-right: 6px;
  margin-left: 3px;
}