.App {
  text-align: center;
  background: #efefef;
  height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.App-nav {
  height: 50px;
  padding: 10px 20px;
  margin-bottom: 20px;
  background: #ccc;
  display: flex;
  justify-content: right;
  align-items: center;
}

.button {
  text-decoration: none;
  background: #3333ff;
  color: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  border-radius: 20px;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 80px 20px;
  background: #787878;
  margin-bottom: 20px;
}

.App-header h1 {
  font-size: 2.5rem;
}

.App-logo {
  margin-right: 10px;
}

.App-body {
  display: flex;
}

.App-page {
  width: 70%;
  text-align: left;
}
